name: main

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test_ubuntu:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test square.py
      run: | 
        python -m unittest square.py
    - name: Test rectangle.py
      run: | 
        python -m unittest rectangle.py
    - name: Test triangle.py
      run: | 
        python -m unittest triangle.py
    - name: Test circle.py
      run: | 
        python -m unittest circle.py

  test_windows:
  
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test square.py
      run: | 
        python -m unittest square.py
    - name: Test rectangle.py
      run: | 
        python -m unittest rectangle.py
    - name: Test triangle.py
      run: | 
        python -m unittest triangle.py
    - name: Test circle.py
      run: | 
        python -m unittest circle.py
